<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hellobro.reviews.dao.BookDao">

    <insert id="insertBook" parameterType="map">
        INSERT INTO BOOK_INFO
        <foreach item="value" index="key" collection="_parameter.entrySet()" open="(" separator="," close=")">`${key}`
        </foreach>
        VALUES
        <foreach item="value" index="key" collection="_parameter.entrySet()" open="(" separator="," close=")">#{value}
        </foreach>
        ;
    </insert>

</mapper>
