<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hellobro.reviews.dao.ReviewDao">

    <select id="selectAll" resultType="map">
        SELECT * FROM BOOK_REVIEW
        LIMIT #{offset}, #{limit};
    </select>

    <!--SELECT r.ID, r.USER_ID, r.BOOK_ID, r.TYPE, r.TEXT, r.`UPDATE_DATE`, b.`AUTHOR`, b.`CATEGORY_ID`, b.`DESCRIPTION`, b.`IMAGE`, b.`ISBN`, b.`PAGES`, b.`PRICE`, b.`PUB_ID`, b.`RARITY`, b.`TITLE`, b.`TRANSLATOR`-->
    <select id="select" parameterType="map" resultType="map">
        SELECT *
        FROM BOOK_REVIEW AS r
        LEFT JOIN BOOK_INFO AS b
        ON r.BOOK_ID = b.ID
        WHERE true
        <if test="BOOK_ID != null">
            AND r.BOOK_ID = #{BOOK_ID}
        </if>
        <if test="USER_ID != null">
            AND r.USER_ID = #{USER_ID}
        </if>
        <if test="type != null">
            AND r.TYPE = #{TYPE}
        </if>
        <if test="ISBN != null">
            AND b.ISBN = #{ISBN}
        </if>
        LIMIT #{offset}, #{limit};
    </select>

    <select id="selectComment" resultType="map">
        SELECT * FROM BOOK_REVIEW
        WHERE TYPE = "C"
        LIMIT #{offset}, #{limit};
    </select>

    <select id="selectReview" resultType="map">
        SELECT * FROM BOOK_REVIEW
        WHERE TYPE = "R"
        LIMIT #{offset}, #{limit};
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM BOOK_REVIEW
    </select>

    <select id="countByUserid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM BOOK_REVIEW
        WHERE USER_ID = #{user_id}
        AND TYPE = #{type}
        LIMIT #{offset}, #{limit};
    </select>

    <select id="countByBookid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM BOOK_REVIEW
        WHERE BOOK_ID = #{book_id}
        AND TYPE = #{type}
        LIMIT #{offset}, #{limit};
    </select>

    <select id="selectOne" resultType="map">
        SELECT * FROM BOOK_REVIEW WHERE ID = #{id}
    </select>

    <insert id="insert">
        INSERT INTO BOOK_REVIEW ( user_name, subject, content, reg_datetime )
        VALUES ( #{user_name}, #{subject}, #{content} , #{reg_datetime} )
    </insert>

    <update id="update">
        UPDATE BOOK_REVIEW
        SET user_name = #{user_name}, subject = #{subject}, content = #{content}, reg_datetime = #{reg_datetime}
        WHERE idx = #{idx} LIMIT 1
    </update>

    <delete id="delete">
        DELETE FROM BOOK_REVIEW WHERE idx = #{idx}
    </delete>

</mapper>
